<a href="https://colab.research.google.com/github/anup2267/Anup_Repo_Python/blob/main/Assignment_2_Driver_Data_Analysis_Hive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Driver Table Creation and Data Load from hdfs

In [ ]:
create database anupdb;
use anupdb;

In [ ]:
CREATE EXTERNAL TABLE driver_info1 (
    driverId INT,
    name STRING,
    ssn STRING,
    location STRING,
    certified BOOLEAN,
    wage_plan STRING
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
tblproperties(
"skip.header.line.count"="1"
);

In [ ]:
LOAD DATA local INPATH 'drivers.csv' OVERWRITE INTO TABLE driver_info1;

Timeshet table creation and data load

In [ ]:
use anupdb;
CREATE EXTERNAL TABLE timesheet_data1 (
    driverId INT,
    week INT,
    hours_logged DOUBLE,
    miles_logged DOUBLE
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;
tblproperties(
"skip.header.line.count"="1"
);

In [ ]:
LOAD DATA local INPATH 'timesheet.csv' OVERWRITE INTO TABLE timesheet_data1;

Q1.How many total hours and miles logged by each driver

In [ ]:
SELECT
    t.driverId,
    SUM(t.hours_logged) AS total_hours_logged,
    SUM(t.miles_logged) AS total_miles_logged
FROM timesheet_data1 t
JOIN driver_info1 d ON t.driverId = d.driverId
GROUP BY t.driverId;

Q2.Print the name of the driver in the above query

In [ ]:
SELECT
    t.driverId,
    d.name,
    SUM(t.hours_logged) AS total_hours_logged,
    SUM(t.miles_logged) AS total_miles_logged
FROM timesheet_data1 t
JOIN driver_info1 d ON t.driverId = d.driverId
GROUP BY t.driverId, d.name;

Write the above query output in to hdfs director

In [ ]:
INSERT OVERWRITE DIRECTORY '/user/anupruser1/driverinfoquery1'
SELECT
    t.driverId,
    d.name,
    SUM(t.hours_logged) AS total_hours_logged,
    SUM(t.miles_logged) AS total_miles_logged
FROM timesheet_data1 t
JOIN driver_info1 d ON t.driverId = d.driverId
GROUP BY t.driverId, d.name;

To Check Result file of above Query

In [ ]:
hdfs dfs -ls /user/anupruser1/driverinfoquery1

hdfs dfs -cat /user/anupruser1/driverinfoquery1/000000_0